
  <!-- Menu -->
  <nav class="menu" id="theMenu">
    <div class="menu-wrap">
      <h1 class="logo"><a href="index.html#home">Chat Guide</a></h1>
      <i class="icon-remove menu-close"></i>
      <a href="#home" class="smoothScroll">Home</a>
      <a href="#services" class="smoothScroll">Services</a>
      <a href="#portfolio" class="smoothScroll">Portfolio</a>
      <a href="#about" class="smoothScroll">About</a>
      <a href="#contact" class="smoothScroll">Contact</a>
<!--       <a href="#"><i class="icon-facebook"></i></a>
      <a href="#"><i class="icon-twitter"></i></a>
      <a href="#"><i class="icon-dribbble"></i></a>
      <a href="#"><i class="icon-envelope"></i></a> -->
    </div>
    <!-- Menu button -->
    <div id="menuToggle">
    <!-- <i class="icon-reorder"></i> -->
     <a href="#">log in</a>
    </div>
  </nav>
  <!-- ========== HEADER SECTION ========== -->
  <section id="home" name="home"></section>
  <div id="headerwrap">
    <div class="container">
      <br>
      <h1>Chat Guides</h1>
      <h2>Ask local English Speakers</h2>
      <div class="row">
        <br>
        <br>
        <br>
        <div class="col-lg-6 col-lg-offset-3">
        </div>
      </div>
    </div><!-- /container -->
  </div><!-- /headerwrap -->

  <!-- ========== WHITE SECTION ========== -->
  <div id="w">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
        <h3>Ask  <bold>Local English speakers's ideas</bold> for your trip<br/>
        </h3>
        </div>
      </div>
    </div><!-- /container -->
  </div><!-- /w -->

  <!-- ========== SERVICES - GREY SECTION ========== -->
<!--   <section id="services" name="services"></section>
  <div id="g">
    <div class="container">
      <div class="row">
        <h3>OUR GUIDES</h3>
        <br>
        <br>
        <div class="col-lg-3">
          <img src="assets/s1.png">
          <h4>London</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
        </div>
        <div class="col-lg-3">
          <img src="assets/s2.png">
          <h4>Berlin</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
        </div>
        <div class="col-lg-3">
          <img src="assets/s3.png">
          <h4>Paris</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
        </div>
        <div class="col-lg-3">
          <img src="assets/s4.png">
          <h4>Tokyo</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
        </div>
      </div> -->
    <!-- </div>/container -->
  <!-- </div>/ -->

  <!-- ========== CHARTS - DARK GREY SECTION ========== -->
<!--   <div id="dg">
    <div class="container">
      <div class="row">
        <h3>SOME CHARTS</h3>
        <br>
        <br>
        <div class="col-lg-4">
          <canvas id="javascript" height="130" width="130"></canvas>
          <br>
          <h4>Javascript</h4>
          <br>
          <script>
            var doughnutData = [
                {
                  value: 70,
                  color:"#f85c37"
                },
                {
                  value : 30,
                  color : "#ecf0f1"
                }
              ];
              var myDoughnut = new Chart(document.getElementById("javascript").getContext("2d")).Doughnut(doughnutData);
          </script>

        </div>
        <div class="col-lg-4">
          <canvas id="bootstrap" height="130" width="130"></canvas>
          <br>
          <h4>Bootstrap</h4>
          <br>
          <script>
            var doughnutData = [
                {
                  value: 90,
                  color:"#f85c37"
                },
                {
                  value : 10,
                  color : "#ecf0f1"
                }
              ];
              var myDoughnut = new Chart(document.getElementById("bootstrap").getContext("2d")).Doughnut(doughnutData);
          </script>
        </div>
        <div class="col-lg-4">
          <canvas id="wordpress" height="130" width="130"></canvas>
          <br>
          <h4>Wordpress</h4>
          <br>
          <script>
            var doughnutData = [
                {
                  value: 55,
                  color:"#f85c37"
                },
                {
                  value : 45,
                  color : "#ecf0f1"
                }
              ];
              var myDoughnut = new Chart(document.getElementById("wordpress").getContext("2d")).Doughnut(doughnutData);
          </script>
        </div>
      </div>
    </div>/container
  </div>/dg

  <section id="portfolio" name="portfolio"></section>
  <div id="portfoliowrap">
    <div class="container">
      <div class="row">
        <h3>COOL WORKS</h3>
        <br>
        <br>
        <div class="col-lg-4 port-space">
          <a href="item.html"><img src="assets/work1.png"></a>
        </div>
        <div class="col-lg-4 port-space">
          <a href="item.html"><img src="assets/work2.png"></a>
        </div>
        <div class="col-lg-4 port-space">
          <a href="item.html"><img src="assets/work3.png"></a>
        </div>
      </div> -->
    <!-- </div>/container -->
  <!-- </div>/portfoliowrap

  <! ========== WHITE SECTION ==========
  <div id="w">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
        <h3>WE WORK HARD TO DELIVER A <bold>HIGH QUALITY SERVICE</bold>. OUR AIM IS YOUR COMPLETE <bold>SATISFACTION</bold>.
        </h3>
        </div>
      </div>
    </div><! /container -->
  <!-- </div>/-->

  <!-- ========== ABOUT - GREY SECTION ========== -->
  <section id="about" name="about"></section>
  <div id="g">
    <div class="container">
      <div class="row">
        <h3>GUIDES</h3>
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
        </div>
        <div class="col-lg-2"></div>

        <% @guides.each do |guide| %>
          <a href="guides/<%= guide.id %>">
          <div class="col-lg-3 team">
            <img class="img-circle" src="<%= guide.image%>" height="90" width="90">
            <h4><%= guide.nickname %></h4>
            <h5><i><%= guide.title %></i></h5>
            <p>
              <a href="rooms/show" class="btn btn-chat">Ley's Chat</a>
<!--               <a href="index.html#"><i class="icon-facebook"></i></a>
              <a href="index.html#"><i class="icon-twitter"></i></a>
              <a href="index.html#"><i class="icon-envelope"></i></a> -->
            </p>
          </div>
          </a>
        <% end %>
<!-- 
        <div class="col-lg-3 team">
          <img class="img-circle" src="assets/team02.jpg" height="90" width="90">
          <h4>Brad Casey</h4>
          <h5><i>Front-end Developer</i></h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <p>
            <a href="index.html#"><i class="icon-facebook"></i></a>
            <a href="index.html#"><i class="icon-twitter"></i></a>
            <a href="index.html#"><i class="icon-envelope"></i></a>

          </p>
        </div>

        <div class="col-lg-3 team">
          <img class="img-circle" src="assets/team03.jpg" height="90" width="90">
          <h4>Pamela Chow</h4>
          <h5><i>Web Designer</i></h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <p>
            <a href="index.html#"><i class="icon-facebook"></i></a>
            <a href="index.html#"><i class="icon-twitter"></i></a>
            <a href="index.html#"><i class="icon-envelope"></i></a>

          </p>
        </div>

        <div class="col-lg-3 team">
          <img class="img-circle" src="assets/team04.jpg" height="90" width="90">
          <h4>Tim Gates</h4>
          <h5><i>Back-end Guru</i></h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <p>
            <a href="index.html#"><i class="icon-facebook"></i></a>
            <a href="index.html#"><i class="icon-twitter"></i></a>
            <a href="index.html#"><i class="icon-envelope"></i></a>

          </p>
        </div> -->
      </div>
    </div><!-- /container -->
  </div><!-- /g -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
